.resetPasswordBox {
    width: 100%; 
  }
  .resetPassword {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    gap: 12px; 
  }
  .resetpasswordBody {
    height: 100vh;
    width: 100%;
    background: var(--Primary-50, #EEFBFD); 
    display: flex;
    justify-content: center; /* Added for positioning context */
  }



  

  .resetpasswordleftContainer {
    width: 60%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;   /* Optional: background color for better visualization */
  }

  .resetpasswordrightContainer {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    gap: 20px;
    padding: 2%;
  }


  .resetpasswordcond{
    width: 100%;
  }
  .resetpasswordHeader {
    color: #219EBC;
     font-weight: 700;
     font-size: 24px;
     line-height: 36px;
  }
  .resetpasswordHeaderContent {
    color: var(--Grey2, #535F75);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .newPassword {
    width: 92%;
    display: flex;
    padding: 4%;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    outline: none;
    border: 1px solid #DFE7F7;
    border-radius: 5px;
    color: var(--Grey2, #535F75);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .containerAboveButtons {
    width: 96%; 
    background-color: #D5F3F8;
    border-radius: 5px; 
    padding: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .passwordCondition{
    color: #132740;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 12px;
  }
  .resetpasswordcontent {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .password-error {
    color: red;
  }
   
  .forgetpasswordDesign {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
  }
  .waveImage {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }

  .resetPasswordButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
  }
  
  .resetPasswordCloseButton{
    border: 1px solid #219EBC;
    padding: 6px 12px;
    border-radius: 6px;
    gap: 6px;
    width: 150px;
    height: 38px;
    color: #219EBC;
    font-weight: 700;
    font-size: 14px;
    background: #EEFBFD;
    cursor: pointer;
  }
  
  .resetPasswordVerifyButton{
    border: 1px solid #219EBC;
    padding: 6px 12px;
    border-radius: 6px;
    gap: 6px;
    width: 150px;
    height: 38px;
    background-color: #219EBC;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
  }

  /* @media only screen and (max-width: 768px) {
    .resetPasswordSubContainer { 
        display: flex;  
        gap: 0%;
        width: 0%;
      }
  } */
  
  @media only screen and (max-width: 480px) {
    .resetpasswordBody {
        display: flex;
        flex-direction: column; 
        background: #EEFBFD;
        position: relative; /* Added for positioning context */
    }
    .resetPassword {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px; 
    }
    .resetpasswordContainer {
        height: 60%;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1; /* Ensure it appears above the wave image */
    }
    .subHeaderText{
        font-size: 12px;
    }
    .resetpasswordHeader {
      font-size: 24px;
    }
    .resetpasswordHeaderContent {
      font-size: 12px;
    }
    .newPassword {
      width: 100%;
    }
    .containerAboveButtons {
      width: 100%;
      padding: 10px;
    }
  }
  