.userProfileResetPasswordPage{
    width: 98%;
    height: 96%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--White, #FFF);
    box-shadow: 4px 4px 12px 0px rgba(33, 158, 188, 0.12);
}

.resetPasswordHeading{
    color: #23252E;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border-left: 4px solid #FFB703;
    padding-left: 10px;
}

.oldPasswordField{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.resetPasswordHeaderText{
    color: var(--Grey-950, #23252E);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mandatoryField{
    color: #E72755;
}

.resetPasswordinputBox{
    display: flex;
    height: 24px;
    padding: 2% 4%;
    width: 92%;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Grey-400, #898FA7);
    background: var(--White, #FFF);
}

.resetpasswordContainer{
    width: 100%;
    display: flex;
    gap: 12px;
}

.ResetPasswordDiv{
    width: 25%;
    display: flex;
    flex-direction: column; 
    gap: 4px;
}

.ResetPasswordFiled{
    width: 25%;
    display: flex;
    flex-direction: column; 
}

.resetNewPassword {
    width: 92%;
    display: flex;
    padding: 4%;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    outline: none;
    border: 1px solid #DFE7F7;
    border-radius: 5px;
    color: var(--Grey2, #535F75);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .resetpasswordcontainer{
    width: 100%;
  }

  .resetpasswordSubcontainer {
    width: 55%; 
    background-color: #D5F3F8;
    border-radius: 5px; 
    padding: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .passwordConditionHeader{
    color: #132740;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 12px;
  }
  .resetpasswordText {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .resetButtonDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}

.resetButtonDiv button{
    background: #219EBC;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    width: 10%; 
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    line-height: 17.5px;
}

.validation{
    width: 20px;
}