.batchsSearchBox{
    padding: 12px;
    display: flex; 
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 26px;
    border: 1px solid var(--Grey-400, #898FA7);
    background: var(--White, #FFF);
}

.batchSearchInput{
    width: 300px;
    border: none;
    outline: none;
    color: var(--Grey-500, #6B728C);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addButtonDiv{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #219EBC;
    height: 24px;
    border: none;
    padding: 6px 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    /* width: 8%; */
}



td span{
    font-weight: 600;
    font-size: 15px;
}

td{
    font-size: 14px;
    font-weight: 400;
}

.inputFieldTextTitle{
  width: 350px;
  padding: 10px;
  border: 1px solid #898FA7;
  border-radius: 6px;
  font-size: 16px;
}

.inputFieldText1{
  width: 200px;
  padding: 10px;
  border: 1px solid #898FA7;
  border-radius: 6px;
  font-size: 16px;
}

.inputFieldTextDisabled{
  width: 200px;
  padding: 10px;
  border: 1px solid #898FA7;
  border-radius: 6px;
  font-size: 16px;
  background: #e7e7e7;
}

.inputFieldTextTitleLong{
  width: 600px;
  padding: 10px;
  border: 1px solid #898FA7;
  border-radius: 6px;
  font-size: 16px;
}

.HeadLineSearchCombo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}






/* <div style={{height:'40vh'}} className='TableWhiteContainer'>
<table className="Table">
  <thead>
    <tr>
      <th>Batch Name</th>
      <th>Duration</th>
      <th>Teachers</th>
      <th>Courses</th>
      <th>Enrolled Students</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Science 1st Year (Section A)</td>
        <td>1 Aug 2023 - 31 Mar 2024</td>
        <td>12</td>
        <td>17</td>
        <td>76</td>
        <td><img src={Edit} alt="Edit" style={{cursor: 'pointer'}} /></td>
      </tr>
  </tbody>
</table>
</div> */

.searchDropDownField{
    width: 220px;
    border: 1px solid #898FA7;
    border-radius: 6px;

}

.searchDropDownFieldlong{
  width: 320px;
  border: 1px solid #898FA7;
  border-radius: 6px;

}

.searchDropDownFieldlong2{
  width: 460px;
  border: 1px solid #898FA7;
  border-radius: 6px;
}

.searchDropDownFieldshort{
  width: 220px;
  border: 1px solid #898FA7;
  border-radius: 6px;

}

.loaderContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedBranchDD{
  width: 220px;
  display: flex;
  height: 44px;
  min-height: 38px;
  padding: 10px;
  align-items: center;
  gap: 8px;
  border-radius: 36px;
  border: 1px solid var(--Grey-400, #898FA7);
  background: var(--White, #FFF);
}