.CourseMasterMainPage {
    padding: 12px; 
    font-style: 'Plus Jakarta Sans';
}

.course_Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CourseSubSection {
    display: flex;
    gap: 12px;
    align-items: center;
}

.courseHeaderText {
    color: #23252E;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    font-style: "Plus Jakarta Sans";
}

.coursesSearchBox {
    padding: 12px;
    display: flex; 
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 26px;
    border: 1px solid var(--Grey-400, #898FA7);
    background: var(--White, #FFF);
}

.SearchInput {
    width: 300px;
    border: none;
    outline: none;
    color: var(--Grey-500, #6B728C);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonDiv {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #219EBC;
    height: 24px;
    border: none;
    padding: 6px 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}

.courseTableContainer {
    margin-top: 12px; 
    background-color: #FFFFFF;
    height: 70vh;
    border-radius: 8px;
    overflow-y: auto;
}

.courseTableContainer::-webkit-scrollbar {
    width: 6px; /* Adjust the width to make it thin */
}

.courseTableContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
}

.courseTableContainer::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}

.courseTableContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb on hover */
}

.courseMainSection {
    padding: 12px;
}

.courseTable {
    border-bottom: 1px solid #ECEFF5; 
    border-collapse: collapse;
    width: 100%;
}

.courseTable th {
    color: #898FA7;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17.5px; 
    padding: 10px;
    border-bottom: 1px solid #ECEFF5;
    text-align: left;
}

.courseTable td {
    padding: 6px 10px;
    color: var(--Grey1, #132740);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Override font-weight and font-size for td span */
.courseTable td span {
    font-weight: 400 !important;
    font-size: 14px !important;
}

.courseTable tbody tr:nth-child(odd) {
    background-color: #F6F7F9;
}

.courseTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.PaginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
}

 
.activity-log {
    display: flex;
    align-items: center;
}

.activity-log img {
    margin-right: 8px;
}

.courseName {
    color: #23252E;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 4px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    width: 100%;
}

/* .courseButton {
    padding: 10px 20px;
    background: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .courseButton:hover {
    background: #1e88e5;
  } */
