.curriculumMainSection {
    width: 100%;
    display: flex;
    gap: 12px;
    font-family: 'Plus Jakarta Sans';
  }
  
  .chapterSection {
    display: flex;
    flex-direction: column;
    width: 24%;
    border-right: 1px solid #B0E7F1;
    padding: 8px;
  }
  
  .chapterHeaderSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .chapter-header {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .add-chapter {
    display: flex;
    height: 16px;
    align-items: center;
    cursor: pointer;
    color: #219EBC;
    border: 1px solid #219EBC;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 10px 6px 10px;
  }
  
  .add-chapter img {
    margin-right: 8px;
  }
  
  .chapter-name-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .chapterContentSection {
    width: 70%;
    padding: 8px;
  }
  
  .dialogChapterHeader{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
  }


  .dialogActionBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 12px;
  }

  .closeBtn,
  .addBtn {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100px;
    
}

.closeBtn {
    background: #fff;
    border: 1px solid #219EBC;
    color: #219EBC;
    
}

.addBtn {
    background: #219EBC;
    color: #fff;
    
}

.chapter-item{
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.chapter-item:hover {
  background-color: #e9ecf3;
}

.chapter-item.selected {
  background-color: #B0E7F1;
}

.addChapterImage{
  display: flex;
  width: 100%;
  justify-content: center;
}

.chapterActions {
  background-color: #EDEDF1;
  position: absolute;
  padding: 2px;
  top: 0px;
  border-radius: 6px;
  right: 0px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.UploadSection{
  display: flex;
  gap: 10px;

}

.chapterContentDetails{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.UploadContentSection{
  display: flex;
  width: 100%;
  justify-content: center;
}

/* .questionTypeOptions{
  display: flex;
  gap: 10px;

} */

.questionTypeContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 50%;
}

.questionTypeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 48%;
}

.questionTypeButton.selected {
  border-color: #00b4d8;
  background-color: #e6f5f7;
}

.questionTypeDescription {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.questionTypeDesc{
  font-weight: 400;
  color: #000;
}

.quizOptionDesc{
  margin-top: 12px;
  display: flex;
  width: 100%;
  gap: 10px;

}

.optionDesc{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 65%;
  
}

.materialSection{
  display: flex;
  width: 66vw;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.materialSection::-webkit-scrollbar {
  height: 6px; /* Adjust the width to make it thin */
}

.materialSection::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
}

.materialSection::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}

.materialSection::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb on hover */
}

/* .materialSection{
  width: 35%;
} */

.inputAnswer{
  margin-left: 10px;
}

.questionText{
  margin-left: 10px;
}

.qtndetails{
  font-weight: bold;
}

.optionText{
  margin-top: 10px;
}

/* .materialImageBox{
  height: 20px;
  width: 20px;
} */

.uploadedMaterial{
  position: relative;
  width: 19%;

}

.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
  padding-top: 0;
  overflow: hidden;
}

.uploadFileBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.uploadFileContainer{
  width: 92%;
  display: flex;
  padding: 12px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px dashed var(--Primary-500, #219EBC);
  background: var(--Primary-100, #D5F3F8);
}

.uploadDragTxt{
  width: 100%;
  color: var(--Grey-700, #464A5E);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.uploadFileOrTxt{
  width: 100%;
  color: var(--Grey-700, #464A5E);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.uploadFileSelectBtn{
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--Primary-500, #219EBC);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.uploadFileDesc{
  width: 100%;
  color: var(--Grey-500, #6B728C);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}