.adminProfilePersonalDetailPage{
    width: 98%;
    height: 96%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--White, #FFF);
    box-shadow: 4px 4px 12px 0px rgba(33, 158, 188, 0.12);
}

.adminPersonalDetailsHeading{
    color: #23252E;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border-left: 4px solid #FFB703;
    padding-left: 10px;
}

.adminPersonalDetailsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.personalDetailsNameField1{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 20px;
}

.adminprofileinputHeaderText{
    color: var(--Grey-950, #23252E);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.adminNameinputBox{
    display: flex;
    height: 25px;
    padding: 2% 4%;
    width: 92%;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Grey-400, #898FA7);
    background: var(--White, #FFF);
}

.adminpersonalDetailsNameField{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.adminPhoneInputContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--Grey-400, #898FA7);
    border-radius: 6px; 
    padding: 9px;
  }

  .adminCountryCodeSelect {
    border: none;  
    color: #219EBC;
  }

  .countryCodeSelect:focus{
    outline: none;
  }

  .adminPhoneInputBox {
    border: none; 
    flex: 1;
  }

  .adminPhoneInputBox:focus {
    outline: none;
  }

  .admincalendarinputBox{ 
    height: 24px; 
    width: 92%;
    padding: 7px;
    align-items: center;
    gap: 8px;
    align-self: stretch; 
    background: var(--White, #FFF);
    font-weight: 600;
    border: 1px solid var(--Grey-400, #898FA7);
    border-radius: 6px;
}

.admincalendarinputBox:focus {
    outline: none; /* Ensure no outline is shown on focus */
    box-shadow: none; /* Remove any default box-shadow on focus */
}

.admingenderField{
    display: flex;
    align-items: center; 
    gap: 8px;
}

.adminradioButton{
    width: 16px;
    height: 16px;
}

.adminUpdateButtonDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}

.adminUpdateButtonDiv button{
    background: #219EBC;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    width: 10%; 
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    line-height: 17.5px;
}

.errorText {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .react-spinner-loader {
    width: 50px; /* Adjust size */
    height: 50px; /* Adjust size */
    margin: auto; /* Ensures it's centered properly */
  }
  
  
 